@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimg {
  background-color: rgb(255, 255, 255);
  background-image: radial-gradient(
      at 100% 100%,
      rgb(110, 231, 183) 0,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, rgb(253, 164, 175) 0, transparent 50%);
}

.animate-gradient {
  background-size: 300%;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 30%;
  }
  25% {
    background-position: 50% 30%;
  }
  50% {
    background-position: 100% 30%;
  }
  75% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 0% 30%;
  }
}

.text-gradient {
  @apply transition-colors delay-75 bg-gradient-to-r  from-emerald-600 via-sky-400 to-rose-600  text-transparent bg-clip-text animate-gradient;
}
