@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimg {
  background-color: whitesmoke;
  background-image: radial-gradient(
      at 81% 35%,
      rgb(167, 243, 208) 0,
      transparent 27%
    ),
    radial-gradient(at 14% 22%, rgb(167, 243, 208) 0, transparent 12%),
    radial-gradient(at 74% 87%, rgb(167, 243, 208) 0, transparent 31%),
    radial-gradient(at 23% 66%, rgb(167, 243, 208) 0, transparent 31%);
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 30%;
  }
  25% {
    background-position: 50% 30%;
  }
  50% {
    background-position: 100% 30%;
  }
  75% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 0% 30%;
  }
}
